<StackLayout>
    <Label text="lorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadf"></Label>

    <Label text="lorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadflorem elecadfddsfdsfsadf"></Label>

    <TextField
    hint="Challenge Here"
     [(ngModel)]="challengeDescription"></TextField>

     <Button (tap)="onSetChallenge()"text="Set Challenge"></Button>

    <Label [text]="currentChallenge"></Label>
</StackLayout>
